@use"/src/sass/basic/reset.scss";
@use"/src/sass/basic/base.scss";


@use"/src/sass/ui/logo.scss";
@use"/src/sass/ui/buttons.scss";
@use"/src/sass/ui/titles.scss";

@use"/src/sass/block/header.scss";
@use"/src/sass/block/promo.scss";
@use"/src/sass/block/episode.scss";