@use "/src/sass/basic/variables.scss" as *;

.episode {
    padding-top: 93px;

    &_header {
        display: flex;
        justify-content: space-between;

    }

    &_btn-header {
        margin-top: 43px;
    }

}

.card {


    &_wrapper {
        margin-top: 66px;

    }

    &_img {
        object-fit: cover;
        width: 30%;
    }

    &_item {
        display: flex;
        column-gap: 50px;
        padding: 40px;
        background-color: $dark;
        border-radius: 32px;
    }

    &_tag {
        color: $light;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        border-radius: 6px;
        background-color: $bg_color;
        width: 73px;
        height: 27px;
        text-align: center;
        margin-top: 7px;
    }

    &_number {
        color: $main_color;
        font-family: "DM Sans";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-top: 50px;
    }

    &_title {
        margin-top: 18px;
        line-height: 70px;
    }

    &_desc {
        margin-top: 28px;
        color: $grey;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
    }
}

.episode_btn-card {
    margin-top: 18px;
}